body {
	background-color: #D2B48C;
}
h1 {
	background-color:  	#3D3331;
	
}
h2 {
	text-align: right;
}
h4 {
	text-align: right;
}
#nav-wrapper {
width:1000px;
margin:0 auto;
padding:11px 0;
background:#3D3331;
}
ul#nav {
font-family: Verdana;
font-size:20px;
list-style:none;
margin:0 auto;
padding:0;
width:200px;
overflow: auto;
}

ul#nav li {
display:inline;
}

ul#nav li a {
text-decoration:none;
display: block;
padding:5px 10px;
background:#5F3222;
color:#eee;
float:left;
text-align:left;
border-top:2px solid #815444;
border-right:2px solid #3d1000;
border-bottom:2px solid #3d1000;
border-left:2px solid #815444;
}

ul#nav li a:hover {
background:#a37666;
color:#000;
border-top:2px solid #815444;
border-right:2px solid #c59888;
border-bottom:2px solid #c59888;
border-left:2px solid #815444;
}